<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="수업_실습.Properties.Settings.ConnectionString" connectionString="TNS_ADMIN=C:\Users\jinhuck\Oracle\network\admin;USER ID='&quot;C##5584980&quot;';PASSWORD=1234;DATA SOURCE=localhost:1521/xepdb1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>